/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

h1, .h1,
h2, .h2,
.h4 { 
    font-family: 'Merriweather', serif;
}
.h4 { 
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

.page-header {
    margin: 40px 0;
}