<!-- List Holidays -->

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-xs-3">Description</th>
      <th class="col-xs-1">Start date</th>
      <th class="col-xs-1">End Date</th>
      <th class="col-xs-1">Days</th>
      <th class="col-xs-1">Hours</th>
      <th class="col-xs-1">&nbsp;</th>
      <th class="col-xs-1">&nbsp;</th>
    </tr>
  </thead>
  <tfoot *ngIf="holidaysTotals">
    <tr>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
      <th>Totals:</th>
      <th>{{holidaysTotals.days}}</th>
      <th>{{holidaysTotals.hours}}</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </tfoot>
  <tbody>
    <tr *ngFor="let holiday of holidays">
      <td>{{holiday.description}}</td>
      <td>{{holiday.startDay | date:'dd/MM/yyyy'}}</td><!--{{1288323623006 | date:'MM/dd/yyyy @ h:mma'}}-->
      <td>{{holiday.endDay | date:'dd/MM/yyyy'}}</td>
      <td>{{holiday.days}}</td>
      <td>{{holiday.hours}}</td>
      <td><button (click)="editHoliday(holiday.id)">Edit</button></td>
      <td><button (click)="deleteHoliday(holiday.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
