<form #holidayBalanceDetailsForm="ngForm">

  <md-input-container>
    <input mdInput [mdDatepicker]="periodEndDate" placeholder="Period end date" [(ngModel)]="holidayBalance.periodEndDate" name="periodEndDate">
    <button mdSuffix [mdDatepickerToggle]="periodEndDate"></button>
  </md-input-container>
  
  <md-datepicker #periodEndDate startView="year" [startAt]="startDate"></md-datepicker>

  <md-input-container>
    <input mdInput placeholder="Estimated End Of Year" name="estimatedBalanceEOY" [(ngModel)]="holidayBalance.estimatedBalanceEOY">
  </md-input-container>

  <md-input-container>
    <input mdInput placeholder="Daily hours" name="dailyHours" [(ngModel)]="holidayBalance.dailyHours">
  </md-input-container>

</form>