<!-- List Holidays -->

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Start date</th>
      <th>End Date</th>
      <th>Days</th>
      <th>Hours</th>
      <th>Taken</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let holiday of holidays">
      <td>{{holiday.description}}</td>
      <td>{{holiday.startDay | date:'dd/MM/yyyy'}}</td><!--{{1288323623006 | date:'MM/dd/yyyy @ h:mma'}}-->
      <td>{{holiday.endDay | date:'dd/MM/yyyy'}}</td>
      <td>{{holiday.days}}</td>
      <td>{{holiday.hours}}</td>
      <td>{{holiday.taken}}</td>
      <td><button (click)="editHoliday(holiday.id)">Edit</button></td>
      <td><button (click)="deleteHoliday(holiday.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
