<h2>
  Add Holiday
</h2>

<form>
  <div class="form-group">
    <label for="description">Description:</label>
    <input class="form-control" type="text" value="">
  </div>
  <div class="form-group">
    <label for="description">Start Date:</label>
    <input class="form-control" type="text" value="">
  </div>
  <div class="form-group">
    <label for="description">End Date:</label>
    <input class="form-control" type="text" value="">
  </div>
  <div class="form-group">
    <label for="description">Days:</label>
    <input class="form-control" type="text" value="">
  </div>
  <div class="form-group">
    <label for="description">Hours:</label>
    <input class="form-control" type="text" value="">
  </div>
  <div class="form-group">
    <label for="description">Taken:</label>
    <input type="checkbox">
  </div>
</form>

