.form-horizontal .control-label{
    text-align: right;
}

.table tr th:nth-child(6),
.table tr td:nth-child(6) {
    text-align: center;
}

.form-control,
.btn {
    margin-top: .7em;
}

input[type=checkbox] {
    margin-top: 1.3em;
}